* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: #aeb0f8;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

a:hover {
  color: coral;
}

.href {
  margin-top: 5px;
}

p {
  font-size: 16px;
  font-weight: bold;
  font-family: cursive;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #051367;
  color: #dff6ff;
}
form {
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: white;
}

tr:hover {
  background-color: coral;
}

#top {
  margin-top:125px;
}

#logout_btn{
  padding: 5px 5px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #aeb0f8;
 position: relative;
 font-weight: 500;
 font-size: 15px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

a{
  text-decoration: none;
  padding: 10px;
}

a:link{
 color: #090909;
}

a:visited {
 color: #090909;
}