body {
  font-family: 'Roboto', sans-serif;
  background: #aeb0f8;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  border: 2px solid black;
}

form {
  border: 2px solid #ccc;
  padding: 30px;
  width: 500px;
  border-radius: 15px;
  background: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

* {
  /*font-family: sans-serif;*/
  box-sizing: border-box;
}

/* .container {
  width: 50%;
  background-color: #ebecf0;
} */
.input-div-nn {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  /*width: 100%;
  background-color: #051367;
  color: #dff6ff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;*/
  cursor: pointer;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: rgb(248,222,126);
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
  width: 50%;
  margin: 20px;
  text-align: center;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}
.error-msg {
  margin-top: 4px;
  color: red;
  font-weight: bold;
}
.success {
  background: #301934;
  padding: 19px;
  text-align: center;
  font-size: 25px;
  /*font-weight: bold;*/
  color: #dff6ff;
  /*font-family: cursive;*/
}

/*a:hover {
  color: coral;
}*/
button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: rgb(248,222,126);
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
  width: 50%;
  margin: 20px;
 }
 
 button:hover {
  border: 1px solid white;
 }
 
 button:active {
  box-shadow: 4px 4px 12px #c5c5c5,
              -4px -4px 12px #ffffff;
 }

 a{
   text-decoration: none;
   padding: 10px;
 }

 a:link{
  color: #090909;
 }

 a:visited {
  color: #090909;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #051367;
  color: #dff6ff;
}
form {
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  background-color: white;
}

tr:hover {
  background-color: coral;
}

#register_btn{
padding: 5px 5px;
 border: unset;
 border-radius: 15px;
 color: #212121;
 z-index: 1;
 background: #aeb0f8;
 position: relative;
 font-weight: 500;
 font-size: 15px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

#register_btn::before{
  content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 15px;
 background-color: rgb(248,222,126);
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

#register_btn:hover{
  color: #e8e8e8 !important;
}

#register_btn:hover::before{
  width: 100%;

}

